body {
	background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2");
	color: white;
	font-family: "Motiva Sans", sans-serif;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
}

.centered-content {
	text-align: center;
}

tbody {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#avatar-img {
	height: 64px;
	width: 64px;
	margin: 4px;
}

textarea {
	width: 100%;
	margin: 0;
	height: 100;
}

.small {
	font-size: 70%;
	color: #ccc;
}

.monospace {
	font-family: monospace;
}

#table-user tr td {
	vertical-align: middle;
}

#table-user tr td:first-child {
	font-weight: bold;
}

.auto {
    width: 100%;
    display: inline-block;
}

td.auto:empty:before {
	content: "\200b";
}

img {
	border: 1px solid black;
	background: rgba(0,0,0,0.4);
}

#list-info {
	font-size: 80%;
	color: #ddd;
}

#list-info span {
	font-weight: bold;
}

.bad {
	color: #a94847 !important;
}

.progress {
	color: #d8c943 !important;
}

.good {
	color: #7dbc7a !important;
}

.auto {
	font-family: monospace;
}

#cg-popped-account {
	display: inline-block;
	padding: 3px;
}

.hidden { display: none !important }

#container, #container-right {
	display: inline-block;
	vertical-align: top;
}

#community {
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	padding: 3px;
}

.outlined {
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 3px;
}

.vmiddle * {
	vertical-align: middle;
}

td {
	font-size: 10px;
}

div:not(.nopad) {
	padding: 4px;
}

tr td * {
	vertical-align: middle;
}

#list-controls {
	text-align: center;
}

#footer {
    position: absolute;
    bottom: 16;
    left: 0;
    width: 100%;
}

#footer span {
    padding: 4px;
}
