body {
	background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2");
	color: white;
	font-size: 13px;
	font-family: "Motiva Sans", sans-serif;
}

* {
	margin: 2px;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
}

.centered-content {
	text-align: center;
}

#warning-cors-container {
	background: rgb(230, 130, 130);
	display: inline-block;
	font-size: 15px;
	padding: 5px;
	border: 1px solid rgb(150, 60, 60);
	border-radius: 3px;
}

#warning-cors {
	font-weight: bold;
	color: white;
}

#list thead, #list tbody {
	display: block;
}

tbody {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

hr {
	margin: 6px;
	border: 0;
	border-top: 1px solid rgba(255,255,255,0.5);
}

#avatar-img {
	height: 64px;
	width: 64px;
	margin: 4px;
}

input, textarea {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #000;
	border-radius: 3px;
}

textarea {
	width: 100%;
	margin: 0;
	height: 100;
}

.auto {
	border: 1px solid rgba(100,100,100,0.5);
	border-radius: 3px;
	background: rgba(100,100,100,0.2);
}

.small {
	font-size: 70%;
	color: #ccc;
}

#avatar-container * {
	vertical-align: middle;
}

.monospace {
	font-family: monospace;
}

input:not([type="checkbox"]) {
	height: 24px;
	padding: 2px 4px;
	line-height: 18px;
}

#table-user tr td {
	vertical-align: middle;
	font-size: 14px;
}

#table-user tr td:first-child {
	font-weight: bold;
}

.auto {
	font-family: monospace;
	font-size: 13px;
	color: #ccc;
}

td.auto:empty:before {
	content: "\200b";
}

#captcha-container {
	height: 40;
}

img {
	border: 1px solid black;
	background: rgba(0,0,0,0.4);
}

#list-info {
	font-size: 80%;
	color: #ddd;
}

#list-info span {
	font-weight: bold;
}

#captcha-img {
	width: 211;
	height: 40;
}

#captcha {
	vertical-align: top;
}

.bad {
	border-color: #a94847;
}
.bad-text {
	color: #a94847;
}

.progress {
	border-color: #d8c943;
}

.good {
	border-color: #7dbc7a;
}
.good-text {
	color: #7dbc7a;
}

#cg-popped-account {
	display: inline-block;
	padding: 3px;
}

.hidden { display: none !important }

#container, #container-right {
	display: inline-block;
	vertical-align: top;
}

#community-container {
	padding: 3px;
}

#community {
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	padding: 3px;
}

.disabled {
	opacity: 0.4;
}

.outlined {
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.8);
	border-radius: 3px;
}

.table-left-bold tr td:first-child {
	font-weight: bold;
}

.monospace-table tr td {
	font-family: monospace;
}

#list tr td {
	padding: 1px 5px;
}

#list-controls {
	text-align: center;
}

#list-header {
	font-weight: bold;
}